<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head data-hook="inside_head">
    <meta charset="utf-8">
<title>てろろんバッグ - てろろんマーケット</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" />
<meta name="description" content="てろろんオリジナルバッグやで" />
<link href="https://teroron.com/products/bag" rel="canonical" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-6c1f97fc861e5b04e84111d33c150ef408507ed93f517da5c309f18e1c9341b6.ico" />
<link rel="stylesheet" media="screen" href="/assets/spree/frontend/all-5e09f4f659e861c1a44e8c55e5c30a0d740d7b1e99dc978856a95f2f5b52f892.css" />
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="owgWlsRqgyaLzJ7zgVL975ei78Bwh3rWo0CQrlmlLMQlNshHA0QPBKTTPPnEtySdPOC3tGSmU3ZExD5owSN4pA==" />
<script src="/assets/spree/frontend/all-8abc5c357194ed8a85092795ae8c9f9a18b89dd082c4ceca67e678c85d5c6451.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->


  </head>
  <body class="one-col" id="default" data-hook="body">

    <div class="container">

      <header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><a href="/"><img src="/assets/logo/teroron_logo_153x052-b0bca89450f3b79827bb0eec47f1db0946003c74e5de6e489c7847a919658db6.jpg" /></a></figure>
  <nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    
      <li id="link-to-login"><a href="/login">Login</a></li>

    <li id="search-bar" data-hook>
      <form action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <select name="taxon" id="taxon" aria-label="Taxon"><option value="">All departments</option>
<option value="1">Categories</option>
<option value="2">ブランド</option></select>
  <input type="search" name="keywords" id="keywords" placeholder="Search" />
  <input type="submit" value="Search" data-disable-with="Search" />
</form>
    </li>
  </ul>
</nav>

  <nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><a href="/">Home</a></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <a href="/cart">Cart</a>
      </noscript>
      &nbsp;
    </li>
  </ul>
  <script>Spree.fetch_cart('/cart_link')</script>
</nav>

</header>


      <div id="wrapper" class="row" data-hook>

        

        

        <div id="content" class="columns sixteen" data-hook>
          
            <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">

    <div class="columns six alpha" data-hook="product_left_part">
      <div class="row" data-hook="product_left_part_wrap">

        <div id="product-images" data-hook="product_images">
          <div id="main-image" data-hook>
              
    <img itemprop="image" src="/spree/products/21/product/ror_tote.jpeg?1562994065" />


          </div>
          <div id="thumbnails" data-hook>
              <ul id="product-thumbnails" class="thumbnails inline" data-hook>

      <li class='tmb-all tmb-1'>
        <a href="/spree/products/21/product/ror_tote.jpeg?1562994065"><img src="/spree/products/21/mini/ror_tote.jpeg?1562994065" /></a>
      </li>
      <li class='tmb-all tmb-1'>
        <a href="/spree/products/22/product/ror_tote_back.jpeg?1562994065"><img src="/spree/products/22/mini/ror_tote_back.jpeg?1562994065" /></a>
      </li>

  </ul>

          </div>
        </div>

        <div data-hook="product_properties">
            <h6 class="product-section-title">Property Types</h6>
  <table id="product-properties" class="table-display" data-hook>
    <tbody>
        <tr class="even">
          <td><strong>Type</strong></td>
          <td>Tote</td>
        </tr>
        <tr class="odd">
          <td><strong>Size</strong></td>
          <td>15&quot; x 18&quot; x 6&quot;</td>
        </tr>
        <tr class="even">
          <td><strong>素材</strong></td>
          <td>Canvas</td>
        </tr>
    </tbody>
  </table>

        </div>

        <div data-hook="promotions">
          
        </div>

      </div>
    </div>

    <div class="columns ten omega" data-hook="product_right_part">
      <div class="row" data-hook="product_right_part_wrap">

        <div id="product-description" data-hook="product_description">

          <h1 class="product-title" itemprop="name">てろろんバッグ</h1>

          <div itemprop="description" data-hook="description">
            てろろんオリジナルバッグやで
          </div>

          <div id="cart-form" data-hook="cart_form">
            <form action="/orders/populate" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="xt30zY+vd0HhI+cxEnaeNEl9MEJXvahZn6zjOiZHUhw5Z/98+S5fUo+YHseb04lzxSS9KH0ZjfwQmKN/1XPEUQ==" />
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      <input type="hidden" name="variant_id" id="variant_id" value="1" />

      <div data-hook="product_price" class="columns five alpha">

        <div id="product-price">
          <h6 class="product-section-title">Price</h6>
          <div>
            <span class="price selling" itemprop="price" content="17.0">
              <span class="money-currency-symbol">$</span><span class="money-whole">17</span><span class="money-decimal-mark">.</span><span class="money-decimal">00</span>
            </span>
            <span itemprop="priceCurrency" content="USD"></span>
          </div>

            <link itemprop="availability" href="http://schema.org/InStock" />
        </div>

        <div class="add-to-cart">
          <input type="number" name="quantity" id="quantity" value="1" class="title" min="1" />
          <button name="button" type="submit" class="large primary" id="add-to-cart-button">
            Add To Cart
          </button> 
        </div>
        

        <div class="micropost">
          <input type="text" name="text" id="quantity" value="1" class="title" min="1" />
          <button name="button" type="submit" class="large primary" id="micropost">
            Add To Cart     
          </button> 
        </div>
      </div>
  </div>
</form>
          </div>

        </div>

          <div id="taxon-crumbs" data-hook class="alpha columns five omega">
    <h6 class="product-section-title">Look for similar items</h6>

    <div data-hook="product_taxons">
      <ul id="similar_items_by_taxon" data-hook>
        <li><a href="/t/brand/rails">Rails</a></li>
        <li><a href="/t/categories/bags">バッグ</a></li>
      </ul>
    </div>

  </div>


      </div>
    </div>

  </div>

        </div>

        

      </div>

      <footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>Powered by <a href="http://solidus.io/">Solidus</a></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>


    </div>

  </body>
</html>

